* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.box4 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 3px;
}
.box6 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3px;
}
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
}
.box1 {
  grid-column: 1/4;
  grid-row: 1/2;
}
