* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container>* {
  border: 1px solid gold;
  background-color: blanchedalmond;
  padding: 30px;
}

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

#sidebar {
  grid-area: sidebar;
}

#advertise {
  grid-area: advertise;
}

footer {
  grid-area: footer;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  gap: 2vw;
  grid-template-areas: 
  "header header header header"
  "nav main main sidebar"
  "nav main main advertise"
  "footer footer footer footer";
}

@media screen and (min-width: 577px) and (max-width: 972px) {
  .container {
    gap: 3vw;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "sidebar main main"
    "sidebar main main"
    "advertise footer footer"
    ;
  }
}
@media screen and (max-width: 576px){
  .container {
    gap: 3vh;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "sidebar"
    "advertise"
    "footer";
  }
  
}