.card {
  width: 300px;
  border: 2px solid sandybrown;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 10px rgb(56, 34, 34);
}
.card img {
  width: 100%;
  border-radius: 10px;
}
.card h3 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
.card p {
  text-align: center;
  color: rgb(59, 48, 48);
}
.card button {
  background-color: brown;
  padding: 10px 20px;
  font-size: 1.25em;
  border-radius: 10px;
  cursor: pointer;
}