.container div{
  border: 1.5px solid royalblue;
  height: 100px;
  width: 100px;
  font-size: 3rem;
  text-align: center;
}
#main {
  display: flex;
}
.box {
  font-size: 4em;
  height: 150px;
  width: 150px;
  border: 2px solid brown;
  text-align: center;
}
.box-container {
  display: flex;
  gap: 10px;
}
.user-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.user {
  border: 2px solid blanchedalmond;
  height: 150px;
  width: 150px;
  background-color: aquamarine;
  font-size: 3rem;
}