* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.box1, .box2 {
  display: flex;
  width: 100vw;
  height: 50vh;
  justify-content: space-between;
}
.con2 {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 20vh;
}
.con1 {
  width: 48vw;
  height: 100%;
}
.con1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 576px) {
  .box1, .box2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .con1 {
    width: 100vw;
    height: 49vh;
  }
  .con2 {
    width: 100vw;
    height: 50vh;
    justify-content: space-around;
  }
  .box2 {
    flex-direction: column-reverse;
  }
}