* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clr {
  background-color: rgba(255, 255, 16, 0.835);
}
.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.25fr repeat(2, 1fr) 0.25fr;
  gap: 10px;
}
.box1, .box6 {
  grid-column: span 5;
  grid-row: span 1;
}
.box2 {
  grid-column: span 1;
  grid-row: span 2;
}
.box3 {
  grid-column: span 3;
  grid-row: span 2;
}
@media screen and (min-width: 577px) and (max-width: 972px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 0.25fr) 1fr 0.25fr;
  }
  .box1 {
    grid-column: 1/5;
    grid-row: 1/2;
  }
  .box2 {
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .box4 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .box3 {
    grid-column: 2/5;
    grid-row: 3/4;
  }
  .box5 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .box6 {
    grid-column: 2/5;
    grid-row: 4/5;
  }
}
@media screen and (max-width: 576px){
  .container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.25fr 0.45fr 1fr repeat(3, 0.25fr) ;
    gap: .8vh;
  }
  .box1 {
    grid-column: 1/1;
    grid-row: 1/2;
  }
  .box2 {
    grid-column: 1/1;
    grid-row: 2/3;
  }
  .box3 {
    grid-column: 1/1;
    grid-row: 3/4;
  }
  .box4 {
    grid-column: 1/1;
    grid-row: 4/5;
  }
  .box5 {
    grid-column: 1/1;
    grid-row: 5/6;
  }
  .box6 {
    grid-column: 1/1;
    grid-row: 6/7;
  }
}
