.container {
  height: 1000px;
  width: 1000px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  align-items: center;
  /* justify-content: flex-end;
  align-items: center; */
}
.box {
  background-color: burlywood;
  text-align: center;
  font-size: 2rem;
  height: 200px;
  width: 200px;
}