nav ul {
  display: flex;
  gap: 10px;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: red;
}
nav li:hover {
  background-color: lightgray;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(212, 159, 90);
  padding: 25px;
  font-size: 1.25em;
  align-items: center;
  gap: 40px;
  border-radius: 20px;
}
.hero-container img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.hero-container button {
  background-color: brown;
  padding: 10px 20px;
  font-size: 1.25em;
  border-radius: 10px;
  cursor: pointer;
}
body {
  max-width: 1270px;
  background-color: beige;
  margin: 0 auto;
}